.active {
    display: block;
}

.show {
    opacity: 1;
}

body {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    background: rgb(76, 241, 188);
    color: #222;
    margin: 0; padding: 0;
    height: 100vh;
    vertical-align: center;                                  
}

section {
    position: relative;
    background: white;

    margin: auto;
    padding: 24px;
    width: 576px;
    height: 544px;            
                                                    
    border-radius: 24px;
    border-bottom: 4px solid rgb(1, 194, 182);
    text-align: center;
}

section > h1 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 16px;
}        

section > p {
    margin: 0 0 16px;
}

article {
    display: none;
    opacity: 0;
    transition: .2s;
}

#result {
    width: 352px;
    height: 144px;
    margin: 0 auto 16px;
    padding: 0;

    border-radius: 8px;
    background: rgb(234, 234, 234);

    font-size: 4rem;
    font-weight: 900;
    line-height: 136px;                        
}

.result-up {
    color: rgb(255, 70, 70);
}

.result-down {
    color: rgb(67, 58, 255);
}

#inputs {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
}

input {
    display: none;
    opacity: 0;
    transition: .2s;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    text-align: center;

    width: 126px;
    height: 36px;
    margin: 0 auto 8px;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 8px;
    line-height: 36px;
}

button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    padding: 0;

    background: rgb(76, 241, 188);
    border-radius: 8px;
    border: 0;
    border-bottom: 4px solid rgb(1, 194, 182); 
    transition: .1s;
}

button:hover {
    background: rgb(19, 199, 142);
    border-bottom: 3px solid rgb(1, 194, 182);            
}     

button.deactivated {
    opacity: .5;
}

#inputs > button {
    width: 128px;
    height: 48px;
    line-height: 44px;
}